// bower:scss
@import "jeet/scss/jeet/index.scss";
// endbower

body {

	font-family: Helvetica, Arial, sans-serif;
}

body.locked {
	cursor: crosshair !important;
}

p {
	color: black;
	margin: 0;
	font-size: 0.75em;
}

a {

	color: black;
	text-decoration: none;

	border-bottom: 1px solid black;
}

div#vignette {

		box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.15);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: 900;
}

div#hud {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 999;

	cursor: auto;

/* 	background-color: rgba(0,0,0,1); */

	.col {
		@include col(1/2);
	}

	ul#controls {

		margin: 0;
		padding: 1.5em;
		list-style: none;

		float: left;

		opacity: 1;

		li {

			margin-top: -2em;
			margin-right: 1em;

			height: 2.25em;
			width: 2.25em;

			float: left;

			font-size: 0.75em;
			color: #FFFFFF;
			text-align: center;
			line-height: 2.25em;

			border: 1px solid #FFFFFF;
			border-radius: 2px;

			box-shadow: 0px 2px 0px #FFFFFF;

			cursor: pointer;
		}

		li#lock {
			width: 4.425em;
		}

		li#randomise {

			width: 9.875em; // 14.25em
			margin: 1em 0 0 1.6875em;

			clear: both;
		}

		li.selected {

			color: #464646;
			background-color: #FFFFFF;

			box-shadow: none;
			transform: translate(0px,2px);
	/* 		box-shadow: 0px 1px 0px 0px #dddddd inset; */

		}
	}

/*
	div#saved {

		$buttonSize: 4.5;

		padding: (7.5-$buttonSize)/2*1em 0;
		overflow-x: scroll;
		overflow-y: hidden;

		ul {

			margin: 0;
			padding: 0;
			list-style: none;

			height: $buttonSize*1em;

			li {

				margin: 0 auto;

				height: $buttonSize*1em;
				width: $buttonSize*1em;

				border-radius: $buttonSize*1em;

				background-size: cover;

				a {
					display: block;
					width: 100%;
					height: 100%;
					border: none;

					font-size: 1.5em;
					text-align: center;
					line-height: ($buttonSize*16/16/1.5)*1em;

					color: white;

					border-radius: ($buttonSize*16/16/1.5)*1em;

					transform: rotate(90deg);
				}

				a:hover {
					color: #464646;
					background-color: white;
				}
			}
		}
	}
*/

/*
	div#share {

		.fb-like {
			padding: 1.15em 0.75em 0 0;

			display: block;
			float: right;
		}

		.twitter-share-button {

			padding-left: 1em;

			display: block;
			float: left;
		}
	}
*/

}

div#share {

	position: absolute;
	right: 1.5em;
	bottom: 4.1em;

	z-index: 999;

	.fb-like {

		display: block;
		float: right;
	}

	.twitter-share-button {

		padding-left: 1em;

		display: block;
		float: left;
	}
}

div#saved {

	$buttonSize: 3;

	z-index: 998;

	position: absolute;

	font-size: 1.5em;

	cursor: none;

	width: $buttonSize*1em;
	height: $buttonSize*1em;

/* 	border: 2px solid white; */


	background-color: black;
	border-radius: $buttonSize/2*1em;

	color: #464646;
	text-align: center;
	line-height: $buttonSize*1em;

	transform: rotate(90deg);

	span {

		color: white;

		cursor: none;
		width: 100%;
		height: 100%;

		border: none;

		border-radius: $buttonSize/2*1em;
	}
}

/*
p#about {

	position: absolute;
	bottom: 5.67em;
	right: 1em;

	z-index: 999;

	cursor: auto;
}
*/

p#about {

/*
	clear: both;
	float: left;
*/

	padding: (2.5*16/12)*1em (1.5*16/12)*1em 1.2em (1.5*16/12)*1em;

	color: white;
	text-align: right;

	a {
		color: white;
		border-bottom-color: white;
	}

	span#version {

		display: inline-block;
		opacity: 1;

		font-size: (10/12)*1em;
		margin-top: 1em;
	}
}
